@import url(./radio.css);
@import url(./checkbox.css);
@import url(./droparea.css);


input, textarea, select {
  appearance: none;
  width: 100%;
  background-color: var(--input-base);
  border: 1px solid var(--input-stroke);
  border-radius: .5rem;
  padding: .81rem 1rem;
  font: var(--body-md);
  color: #ffffff;
  
  
  &::placeholder {
    color:var(--input-placeholder);
  }
}

label  {
  
  display: block;
  color: var(--text-body);
  font: var(--body-sm);
  

}

input[type=date]{
  color: var(--input-placeholder);

  &::-webkit-calendar-picker-indicator {
    opacity:0;
  }
}

input[type=text]:focus,
input[type=date]:focus,
.radio-container:focus-within {
  outline: 1px solid var(--brand-light);
}

textarea:focus {
  outline: 1px solid var(--brand-light);
 } 



input:invalid,  
textarea:invalid {
  
  outline:1px solid var(--danger);
  
  &:focus {
    outline: 1px solid var(--danger);
  }

} 

input[type=text]:valid:focus {
  outline: 1px solid var(--brand-light);
  
}

input:valid + .error,
textarea:valid + .error{

  display: none;

}

textarea + .error {
  margin-bottom: 3rem;
}

textarea:valid  {
  margin-bottom: 3rem;
}



.flex:has(label[for=mail]) {
  border-bottom: 1px solid var(--input-stroke);
  padding-bottom: 3rem;
}